.container {
    margin: 0 auto;
    text-align: center;
}

.no_display {
    display: none;
}

.black_on_yellow {
    background-color: #fcbd24;
    color: black;
}

.black_on_white {
    background-color: white;
    color: black;
}

.clr_yellow {
    color: #fcbd24;
}

#buy-obs-result {
    background-color: white;
    color: black;
}

#template-auction tr th.bidAmount input {
    color: black;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0 0 6px #fcbd24;
    -moz-box-shadow: 0 0 5px #fcbd24;
    box-shadow: 0 0 5px #fcbd24;
}

/* walletconnect_auction_create_ru page style */
#connected > input {
    color: black;
    border: 1px solid #fafafa;
    box-shadow: 0 0 5px #fcbd24;
    -webkit-box-shadow: 0 0 6px #fcbd24;
    -moz-box-shadow: 0 0 5px #fcbd24;
}